body {
    background-color: green;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
img {
   height: auto;
   border-radius: 50px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    text-align: center;
}